/* Estilos generales */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #ffffff;
  color: #333;
}

/* Estilos para el encabezado */
header {
  background-color: #333;
  color: white;
  padding: 1em 0;
  text-align: center;
}

header h1 {
  margin: 0;
  font-size: 2em;
}


header nav a {
  color: rgb(255, 255, 255);
  text-decoration: none;
  margin: 0 1em;
}

/* Estilos para el contenido principal */
main {
  padding: 2em;
  max-width: 1500px;
  margin: 0 auto;
  background-color: white;
  box-shadow: 0 0 10px rgba(0, 0, 0,0.1)
}

main p {
  line-height: 1.6;
}

/* Estilos para las imágenes */
main img {
  display: inline-block;
  margin-right: 1em;
  border-radius: 8px;
}

/* Estilos para enlaces en general */
a {
  color: #1a73e8;
  text-decoration: none;
}

/*desde aqui comiensa el formulario*/
.container {
  padding: 2em;
  background-color: rgb(255, 255, 255);
  box-shadow: 10px black;
  border-radius: 10px;
  max-width: 600px;
  margin: 0 auto;
}

form {
  display: flex;
  flex-direction: column;
}

form input,
form textarea {
  margin-bottom: 1.5em;
  padding: 0.5em;
  border: 1px solid rgb(14, 14, 14);
  border-radius: 4px;
  background-color: rgb(253, 251, 251);
  font-size: 1em;
}

form input:focus,
form textarea:focus {
  border-color: rgb(6, 6, 6);
  outline: none;
}

form button[type="button"] {
  background-color: rgb(103, 102, 102);
  color: var(--button-text-color);
  border: none;
  padding: 1em;
  cursor: pointer;
  border-radius: 4px;
  font-weight: bold;
  transition: background-color 0.3s ease;
}

form button[type=button]:hover {
  background-color: rgb(108, 107, 107);
}

footer {
  display: flex;  
  padding: 20px  ;
  color: #040404;
  border-radius: 10PX;
  
}   

footer img {
  width: 24px;
  height: 24px;
  margin-right: 10px;
  
}

footer h4 {
  margin: 0;

}